@CHARSET "UTF-8";
 
#topbar
{
	height: 30px;
	margin: 10px 30px 0 0;
}

#topbar > font
{
	font-size: small;
	height: 30px;
	margin-right: 30px;
}

font > a
{
	text-decoration: none;	
	color: black;
}

#logo
{
	line-height: 80px;
    vertical-align: middle;
	font-weight: bolder;
	font-size: 50px;
	color: blue;
}

#menu
{
	font-size: 20px;
	float: right;
	margin-right: 15%;	
	margin-bottom: 20px;
}
 