/*Registration and Login Page v2
------------------------------------*/
body { 
	background: #555;
}

.reg-block {
	width: 380px;
	padding: 20px;
	margin: 60px auto;
	background: #fff;
	border-top: solid 2px #72c02c;
}

.reg-block h2,
.reg-block p,
.reg-block p a {
	color: #777;
}

.reg-block-header h2 {
	font-size: 28px;
}

.reg-block p a {
	text-decoration: underline;
}
.reg-block p a:hover {
	text-decoration: none;
}

/*Forms*/
.reg-block .input-group-addon {
	color: #bbb;
	background: none;
	min-width: 40px;
}

.reg-block .form-control:focus {
   box-shadow: none;
   border-color: #999;
}

.reg-block .checkbox { 
	color: #555;
	margin-bottom: 20px;
	font-weight: normal;
}

/*Reg Header*/
.reg-block-header {
	padding-bottom: 5px;
	margin-bottom: 30px;
	border-bottom: solid 1px #eee;
}

.reg-block-header h2 {
	text-align: center;
	margin-bottom: 15px;
}

.reg-block-header p {
	text-align: center;
}

/*For Mobile Devices*/
@media (max-width: 500px) { 
	.reg-block {
		width: 300px;
		margin: 60px auto;
	}
}

/* .reg-block 커스터마이징  */
.reg-block-cus {
	width: 480px;
	padding: 20px;
	margin: 100px auto;
	background: #fff;
	border-top: solid 2px #72c02c;	
	border-bottom: solid 2px #72c02c;
}

/* 회원탈퇴 페이지 양식 */
.reg-block-cus1 {
	width: 700px;
	padding: 20px;
	margin: 100px auto;
	background: #fff;
	border-top: solid 2px #72c02c;	
	border-bottom: solid 2px #72c02c;
}

/* 이용약관 페이지 양식 */
.reg-block-cus2 {
	width: 700px;
	min-height:100%;
	padding: 20px;
	margin: 20px auto;
	background: #fff;
	border-top: solid 2px #72c02c;	
	border-bottom: solid 2px #72c02c;
}

.terms{
	border:solid 1px #72c02c;
	width: 600px;
	height:150px;
	padding: 20px;
	margin: 20px auto;
	font-size: 14px;
    line-height: 1.5;
    font-family: '맑은 고딕','Malgun Gothic','돋움','dotum','Apple SD Gothic Neo','sans-serif';
    color: #1e1e1e;
    letter-spacing: -1px;
    overflow-y:auto;
}


